<html>
    <head>
        <title>Scanned categories</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">

        </head>
    <body>
        <h1>
            Category list
        </h1>
        <p><a href="..">Back to home</a>
        <table>
            <tr><th>Category</th><th>Product count</th></tr>

 
            {%for cat in cats%}
            <tr><td><a href="../category/{{cat[0]}}"">{{cat[0]}}</td><td style="text-align: right;">{{cat[1]}}</td></tr>
            {%endfor%}
        </table>
    </body>
</html>