<html>
    <head>
        <title>Prices for {{prod.name}} at New World Thorndon</title>
        <script src="https://cdn.plot.ly/plotly-2.18.2.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/style.css">

    </head>
    <body>
        <h1>Product {{prod.name}}</h1>
        <p>prodid {{prod.id}}</p>
        <p>{{prod.rows}} rows</p>
        <p><i>Last updated: {{ dates.lastupdate }}</i></p>

        <div id="plotarea" style="width:800px; height:600px;">

        </div>
        <script>

        function makeplot() 
        {d3.csv("../api/pricehistory?productid={{prod.id}}", function(data) { processData(data) } );};


        function processData(allRows) 
        {
        console.log(allRows);
        var x = [], y = [];
        for (var i=0; i<allRows.length; i++) {
            row = allRows[i];
            x.push( row['date'] );
            y.push( row['price'] );
        }
        console.log( 'X',x, 'Y',y);
        makePlotly( x, y);
        }


        function makePlotly( x, y, standard_deviation )
        {
        var plotDiv = document.getElementById("plotarea");
        var traces = [{x: x, y: y}];
        Plotly.newPlot('plotarea', traces, {title: 'Price data for {{prod.name}}'});
        };

        makeplot();
        </script>

        <table>
            <thead>
                <tr><th colspan=4>Price history ({{dates.startdate}} - {{dates.enddate}})</th></tr>
                <tr><td>Date</td><td>Price</td><td></td>Weighttext</td><td>Promotion</td></tr>
            </thead>
            {%for price in price%}
                <td>{{price.date}}</td><td>${{price.price}}</td><td>{{price.pweight}}</td><td>{{price.promo}}</td>
                </tr>
            {%endfor%}


        </table>

    </body>
</html>